.contactList{
    padding: 0px 44px;
}
.item {
    display: flex;
    justify-content: space-between;
    color: rgb(114, 114, 114);
    margin-bottom: 10px;
    
} 

.btn {
    border-radius: 4px;
    background-color: white;
    color: rgb(255, 54, 54);
    border: 1px solid rgb(255, 54, 54);
    padding: 0px 10px;
}